<nav class="navbar">
  <div class="navbar__links-left">
    <%= link_to "Home", "#", class: "navbar__link" %>
    <%= link_to "Our Story", "#", class: "navbar__link"  %>
    <%= link_to "Blog", "#", class: "navbar__link"  %>
  </div>
  <div class="navbar__logo">LearnedIt</div>
  <div class="navbar__links-right">
    <%= link_to "Contact", "#", class: "navbar__link"  %>
    <%= link_to "Log In", "#", class: "navbar__link"  %>
    <%= link_to "Sign Up", "#", class: "navbar__link"  %>
  </div>
</nav>
